<h1>Uploading images with Google Cloud Bucket</h1>

<form id="create-form" enctype="multipart/form-data">
  <input id="prodName" type="text" placeholder="Name of product"/>
  <input id="prodDescription" type="text" placeholder="Description of product" />
  $<input id="prodPrice" type="number" placeholder="xx.xx" />
  <input id="prodOwner" type="text" placeholder="User ID of product owner"/>
  <input id="prodCondition" type="text" placeholder="Product condition" />
  <input id="prodLocation" type="text" placeholder="Product location" />
    <input id="name" type="text" placeholder="Name of photo"/>
     <input id="userImg" name="userImg" type="file"/>
              <div class="ui icon button">
                <i class="attach icon"></i>
         </div>
         <button type="submit">Submit</button>
</form>

<script src="/assets/js/index.js"></script>