<div class="container-fluid outline2">
  <div class="container-fluid">
    <div class="contact">
      <div class="inputs-group">
        <h1>Tell Us About Your Item</h1>
      </div>
      <form id="create-form" enctype="multipart/form-data">
        <div class="inputs-group">
          <input id="prodName" type="text" placeholder="Name of product" class="inputs-group-text" />
        </div>
  <div class="form-group">
    <input class="inputs-group-text">
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    </div>
  </div>
  <div class="form-group">
        <div class="inputs-group">
          <input id="prodDescription" type="text" placeholder="Description of product" class="inputs-group-text" />
        </div>
        <div class="inputs-group">
          <input id="prodPrice" type="number" step="any" placeholder="$0.00" class="inputs-group-text" />
        </div>
        <div class="inputs-group">
          <input id="prodOwner" type="text" placeholder="User ID of product owner" class="inputs-group-text" />
        </div>
        <div class="inputs-group">
          <input id="prodCondition" type="text" placeholder="Product condition" class="inputs-group-text" />
        </div>
        <div class="inputs-group">
          <input id="prodLocation" type="text" placeholder="Product location" class="inputs-group-text" />
        </div>
        <div class="inputs-group">
          <input id="name" type="text" placeholder="Name of photo" class="inputs-group-text" />
        </div>
        <div class="inputs-group">
          <input id="userImg" name="userImg" type="file" class="inputs-group-text" />
        </div>
        <div class="inputs-group">
          <div class="ui icon button">
            <i class="attach icon"></i>
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/assets/js/index.js"></script>