<div class="contact" id="log-in-form">
  <h2 class="contact-heading">
    Rate Seller
  </h2>
  <form class="login-form" id="comment-form">
      <div class="inputs-group">
      <input type="text" class="inputs-group-text" id="comment" placeholder="Leave comment about seller" />
    </div>
      <div class="inputs-group">
          <div class="container">
            <span id="rateMe1"></span>
          </div>
      {{!-- <li class="second-nav-item dropdown-li ltr">
              <a href="#" class="second-nav-link">Rating</a>
<<<<<<< HEAD
              <ul class="dropdown">
                <li class="dropdown-item">
                  <a href="#" class="dropdown-link"><i class="far fa-star"></i></a>
                </li>
                <li class="dropdown-item">
                  <a href="#" class="dropdown-link"><i class="far fa-star"></i><i class="far fa-star"></i></a>
                </li>
                <li class="dropdown-item">
                  <a href="#" class="dropdown-link"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></a>
                </li>
                <li class="dropdown-item">
                  <a href="#" class="dropdown-link"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></a>
                </li>
                <li class="dropdown-item">
                  <a href="#" class="dropdown-link"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></a>
                </li>
              </ul>
            </li> --}}
=======
              <span class="rating">
                <input type="radio" class="rating-input"
                    id="rating-input-1-5" name="rating-input-1" value="5">
                <label for="rating-input-1-5" class="rating-star"></label>
                <input type="radio" class="rating-input"
                    id="rating-input-1-4" name="rating-input-1" value="4">
                <label for="rating-input-1-4" class="rating-star"></label>
                <input type="radio" class="rating-input"
                    id="rating-input-1-3" name="rating-input-1" value="3">
                <label for="rating-input-1-3" class="rating-star"></label>
                <input type="radio" class="rating-input"
                    id="rating-input-1-2" name="rating-input-1" value="2">
                <label for="rating-input-1-2" class="rating-star"></label>
                <input type="radio" class="rating-input"
                    id="rating-input-1-1" name="rating-input-1" value="1">
                <label for="rating-input-1-1" class="rating-star"></label>
            </span>
              
            </li>
>>>>>>> 0fd3e47eb846352a30174cf41126005ba0aa8079
            </div>
    
     <div class="inputs-group">
      <input type="submit" class="inputs-group-btn" value="Submit" />
    </div>
  </form>
</div>

{{#each updatedRatingData}}
<div class="contact">
<form class="create-form">
<div class="inputs-group">
    
    <h1>Rated By: {{dataValues.rated_by}}</h1>
    </div>
    <div class="inputs-group">
    <h1>Rating: {{dataValues.rating_value}}</h1>
    </div>
    <div class="inputs-group">
    <h1>{{dataValues.user_id}}</h1>
    </div>
    <div class="inputs-group">
      <h1>{{dataValues.rating_comment}}</h1>
    </div>
    </div>


</form>
</div>
{{/each}}
<div class="container">
  <span id="rateMe1"></span>
</div>

<!-- rating.js file -->
{{!-- <script>  
  //Rating Initialization
// $(document).ready(function() {
  //$('#rateMe1').mdbRate();
});</script>  --}}

<script src="/assets/js/rating2.js"></script>