<div class="contact" id="log-in-form">
  <h2 class="contact-heading">
    Rate Seller
  </h2>
  <form class="login-form">
      <div class="inputs-group">
      <input type="text" class="inputs-group-text" placeholder="Leave comment about seller" />
    </div>
      <div class="inputs-group">
          <div class="container">
            <span id="rateMe1"></span>
          </div>
      {{!-- <li class="second-nav-item dropdown-li ltr">
              <a href="#" class="second-nav-link">Rating</a>
              <ul class="dropdown">
                <li class="dropdown-item">
                  <a href="#" class="dropdown-link"><i class="far fa-star"></i></a>
                </li>
                <li class="dropdown-item">
                  <a href="#" class="dropdown-link"><i class="far fa-star"></i><i class="far fa-star"></i></a>
                </li>
                <li class="dropdown-item">
                  <a href="#" class="dropdown-link"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></a>
                </li>
                <li class="dropdown-item">
                  <a href="#" class="dropdown-link"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></a>
                </li>
                <li class="dropdown-item">
                  <a href="#" class="dropdown-link"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></a>
                </li>
              </ul>
            </li> --}}
            </div>
    
     <div class="inputs-group">
      <input type="submit" class="inputs-group-btn" value="Submit" />
    </div>
  </form>
</div>

{{#each updatedRatingData}}
<div class="contact">
<form class="create-form">
<div class="inputs-group">
    
    <h1>Rated By: {{dataValues.rated_by}}</h1>
    </div>
    <div class="inputs-group">
    <h1>Rating: {{dataValues.rating_value}}</h1>
    </div>
    <div class="inputs-group">
    <h1>{{dataValues.user_id}}</h1>
    </div>
    </div>


</form>
</div>
{{/each}}
<div class="container">
  <span id="rateMe1"></span>
</div>

<!-- rating.js file -->
{{!-- <script> 
  //Rating Initialization
//$(document).ready(function() {
//  $('#rateMe1').mdbRate();
});</script> --}}

<script src="/assets/js/rating.js"></script>