<div class="contact" id="log-in-form">
  <h2 class="contact-heading">
    Rate Seller
  </h2>
  <form class="login-form">
    <div class="inputs-group">
      <input type="text" class="inputs-group-text" id="email-login" placeholder="Rate User" />
    </div>
  </form>
</div>

{{#each ratings}}
<div>
    <h1>{{dataValues.rated_by}}</h1>
    <h1>{{dataValues.rating_value}}</h1>
    <h1>{{dataValues.user_id}}</h1>
</div>

{{/each}}

<script src="/assets/js/rating.js"></script>